:root {
  --primaryClrDefault: greenyellow;
  --backgroundClrDefault: black;

  --primaryClrLight: hsl(190, 100%, 45%);
  --backgroundClrLight: hsl(40, 32%, 83%);

  --primaryClrMellow: hsl(60, 33%, 70%);
  --backgroundClrMellow: hsl(109, 20%, 33%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: var(--primaryClrMellow);
  background-color: var(--backgroundClrMellow);
}

.title {
  padding-inline: 50px;
  margin-inline: 1px;
  font-size: clamp(1.5rem, 2.5vw, 3.5rem);
  font-family: 'Dongle', sans-serif;
  letter-spacing: 2px;
  grid-row-start: 1;
  grid-column: span 5;
  justify-self: center;
  align-self: center;
}

.button-bar {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
}

.board {
  height: 100vh;
  width: 100vw;
  background-color: inherit;
}

.buttons-action {
  height: 50px;
  width: 120px;
  margin-inline: 8px;
  border: 5px solid;
  border-radius: 10px;
  font-size: 2em;
  font-family: 'Dongle', sans-serif;
  background-color: inherit;
  color: inherit;
  box-shadow: 0px 0px 40px;
}
.buttons-theme {
  height: 50px;
  width: 90px;
  margin-inline: 8px;
  border: 5px solid;
  border-radius: 10px;
  font-size: 2em;
  font-family: 'Dongle', sans-serif;
  background-color: inherit;
  color: inherit;
  box-shadow: 0px 0px 40px;
}

button:disabled {
  filter: brightness(20%);
}

.circle {
  height: 30px;
  width: 30px;
  background-color: inherit;
  border: 2px solid;
  box-shadow: 0 0 20px;
  border-radius: 50%;
  position: absolute;

}